h1 {
    color: #000000;
    border-radius: 20px;
    background-color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

body {
    background-color: #1E90FF;
}

p {
    color: #666666;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}
#perfil{
    background-color:#FFFFFF;
    width: auto;
    height: auto;
    border: 10px solid #FFFFFF;
    border-radius: 20px; 
    display: inline-block;
	box-shadow: 5px 5px 5px #666666;
	margin-left:17%;
	text-align: center;
}
img {
    height: 150px;
    width: inherit;
	border-radius: 20px;
}

#toggle{
    width: 50%;
    height: 50px;
	max-height: 10%;
	background-color:#FFFFFF;
	color: #FFFFFF;
	border-radius: 5px;
	font-family: Verdana, Arial, Sans-Serif;
	color: #666666;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	box-shadow: 5px 5px 5px #666666;
	margin-top:10px;
	margin-left: auto;
	margin-right: auto;
}

#aboutMe{
	display: none;
}
    